@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-lg-6">   
        <img src="~/Content/Images/yellowstoneTroopPic.jpg" style="width:100%;height:100%;"/>
    </div>
    <div class="col-lg-6 text-lg-center">
        <h2>BSA SCOUT TROOP 47</h2>
        <p style="font-size:150%;" >
            Welcome to BSA Troop 47! Whether you are crossing over from Webelos Scouts, 
            transferring from another Boy Scout troop, or entering Scouting for the first time,
            the experience you are about to embark upon has the potential to be one of the most memorable,
            rewarding experiences of your lifetime.
        </pstyle="font-size:160%;">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
 
    </div>
    <div class="jumbotron">
        <h1>Troop 47</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

</div>
